html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


li{
    border: 1px solid black;
    width: 90%;
    height: 60px;
    list-style: none;
    display: flex;
    align-items: center;
    background-color: blueviolet;
    color: wheat;
}

h1{
    margin-left: 25px;
    
}
h2{
    font-size: 2rem;
}
.mark{
    margin-left:800px ;
   
}

.box-1{
    font-size: 2rem;
}


